<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>World_Of_Tanks Application</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body class="body-main">
<header th:include="~{fragments/navigation}"></header>
<main role="main">
    <div class="jumbotron">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                <div class="custom-register-div">
                                    <form th:action="@{/users/register}"
                                          th:method="post"
                                          th:object="${registerDTO}">

                                        <div class="form-outline mb-4">
                                            <input type="text"
                                                   name="username"
                                                   id="form3Example1cg"
                                                   th:field="*{username}"
                                                   th:errorclass="is-invalid"
                                                   class="form-control form-control-lg"/>

                                            <label class="form-label" for="form3Example1cg">Your Username</label>
                                            <small id="usernameHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <div
                                                        th:each="err : ${#fields.errors('username')}"
                                                        th:text="${err}"

                                                ></div>
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text"
                                                   name="fullName"
                                                   id="fullName"
                                                   th:field="*{fullName}"
                                                   th:errorclass="is-invalid"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example3cg">Your Full Name</label>
                                            <small id="fullNameHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                Full Name must be between 5 and 20 characters!
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="email" id="form3Example3cg"
                                                   th:field="*{email}"
                                                   name="email"
                                                   th:errorclass="is-invalid"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example3cg">Your Email</label>
                                            <small id="emailHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                <div
                                                        th:each="err : ${#fields.errors('email')}"
                                                        th:text="${err}"

                                                ></div>
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password"
                                                   th:field="*{password}"
                                                   th:errorclass="is-invalid"
                                                   name="password"
                                                   id="form3Example4cg"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example4cg">Password</label>
                                            <small id="passwordHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                Password must be at least 3 characters!
                                            </small>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password"
                                                   th:field="*{confirmPassword}"
                                                   th:errorclass="is-invalid"
                                                   id="form3Example4cdg"
                                                   name="confirm password"
                                                   class="form-control form-control-lg"/>
                                            <label class="form-label" for="form3Example4cdg">Repeat your
                                                password</label>
                                            <small id="confirmPasswordHelpInline"
                                                   class="bg-danger text-light rounded invalid-feedback">
                                                Passwords should match!
                                            </small>
                                        </div>

                                        <div class="form-group row">
                                            <label for="role" class="col-sm-2 col-form-label">User role</label>
                                            <div class="col-sm-10">
                                                <select id="role"
                                                        name="role"
                                                        th:field="*{role}"
                                                        th:errorclass="is-invalid"
                                                        class="custom-select"
                                                        aria-describedby="roleHelpInline">
                                                    <option value="" selected>Role</option>
                                                    <option value="ADMIN">ADMIN</option>
                                                    <option value="USER">USER</option>
                                                </select>
                                                <small id="roleHelpInline"
                                                       class="bg-danger text-light rounded invalid-feedback">
                                                    Select User Role!
                                                </small>
                                            </div>

                                            <div class="d-flex justify-content-center">
                                                <button class="w-100 btn btn-lg btn-primary" type="submit">Register
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>