<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>World Of Tanks Application</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body class="body-main">
<header th:include="~{fragments/navigation}"></header>
<main role="main">
    <div class="jumbotron">
        <h1 id="h1home" class="text-center p-5 text-blue font-weight-bold">Information about tanks</h1>

        <img class="center"
             style="width: 650px; height: 250px;"
             src="/images/tank-info.jpg" alt="tank_info">

        <div>
            <div class="col-md-6 mx-auto bg-blur rounded text-white">
                <div class="card-body d-flex flex-column">
                    <h4 class="d-inline-block mb-2 text-primary align-self-center">Tanks Status:</h4>
                    <div class="text-center">
                        <h5>Name - Health - Power - Created On </h5>
                        <ul>
                            <li class="font-weight-bold" th:each="tank : ${allTanks}">

                                <span th:text="${tank.getName()}"/> - <span th:text="${tank.getHealth()}"/> - <span
                                    th:text="${tank.getPower()}"/> -
                                <span th:text="${tank.getCreated()}"/>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>