<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>World_Of_Tanks Application</title>

    <th:block th:include="~{fragments/head}"/>

</head>
<body class="body-main">
<header th:include="fragments/navigation">

</header>
<main role="main">
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded border-white pl-3 font-weight-bold">Edit Tank</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form th:action="@{/user/role/tank/edit}"
                  th:method="post"
                  th:object="${editUserTankDTO}"

                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Type in the name of the tank you want to make
                        changes</label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{oldName}"
                               th:errorclass="is-invalid"
                               class="form-control" id="name"
                               aria-describedby="nameHelpInline" placeholder="old name">
                        <small id="oldNameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Old name must be between 2 and 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Type in the new name of the tank
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{newName}"
                               th:errorclass="is-invalid"
                               class="form-control" id="newName"
                               aria-describedby="newNameHelpInline" placeholder="new name">
                        <small id="newNameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            The new name must be between 2 and 10 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger w-50">Edit the Tank</button>
            </form>
        </div>
    </div>
</main>
<th:block th:include="~{/fragments/footer}"/>
</body>
</html>